---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      
        
      
      
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        
        {%- if post.featured_img -%}
          <a href="{{ post.url | relative_url }}"><img src='{{ post.featured_img }}' height='200'><br/></a>
        {%- endif -%}
        
        
        {% if post.tags.size > 0 %}
      Tag{% if post.tags.size > 1 %}s{% endif %}:
      {{ post.tags | sort | join: ", " }}
    {% endif %}
        
        
      </li>

      {%- endfor -%}
    </ul>

  
    
  {%- endif -%}

</div>
